.calculator-signup-block {
    background: #625089;
    padding: 80px 0;
    margin: 150px 0;
}

.calculator-signup-container {
    gap: 120px;
    margin: 0 auto;
    max-width: 1120px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;

    &-content {
        h2.title {
            color: #FFF;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px; // 114.286%
        }

        .text {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; // 155.556%
        }

        .wpforms-field-container {
            display: grid;
        }
    }

    .wpforms-field-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        label.wpforms-field-label {
            color: #FFF;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 1; // 538.462%
        }

        input {
            width: 100%;
            max-width: 100% !important;
            border-radius: 4px;
            background: #FFF;
            border: none;
        }
    }

    &-form {
        .wpforms-field,
        .wpforms-submit-container {
            padding: 0;
            margin: 0;
        }

        .wpforms-field button.wpforms-submit {
            color: #FFF;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 70px; // 466.667%
            border-radius: 4px;
            border: 1px solid var(--green, #82BC46);
        }
    }
}
