.full-width-columns-background-block {
    background: #625089;
}

.full-width-columns-background-block .full-width-columns-background-container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: $container-width;
    
    flex-direction: column;
    @include media(">tablet") {
        flex-direction: row;
    }
}

.full-width-columns-background-container__video {
    position: relative;
    min-height: 300px;
    @include media(">tablet") {
        width: 50%;
    }
}

.full-width-columns-background-container__video img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    &.play {
        max-width: 53px;
        max-height: 53px;
        margin: 0 auto;
        top: 50%;
        transform: translate(0px, -50%);
        cursor: pointer;
    }
}

.full-width-columns-background-container__video iframe {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 300px;
}

.full-width-columns-background-container-content {
    padding: 45px $container-padding;
    
    @include media(">tablet") {
        padding: 106px 80px;
        width: 50%;
    }
}

.full-width-columns-background-container-content  .title {
    color: white;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    @include media("<tablet") {
        font-size: 25px;
        line-height: 35px; 
    }
}

.full-width-columns-background-container-content .content {
    color: #fff;
}