{
    "extends": ["plugin:@wordpress/eslint-plugin/recommended"],
    "ignorePatterns": ["*min.js", "dist/**", "update-theme.js"],
    "env": {
        "browser": true
    },
    "globals": {
        "jQuery": "readonly"
    }
}