/* Typographical Elements
--------------------------------------------- */

body {
	@include style('body', $size: 3, $base: true);
	color: black;
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
}

/**
 * Make sure links are accessible
 * @link https://webaim.org/resources/linkcontrastchecker/
 */
a {
	color: var(--WCAG-Green, #547C2D);
	font-style: normal;
	font-weight: 400;
	text-decoration: underline;
	@extend %transition;

	&:hover {
		text-decoration: none;
		color: brand-color('tertiary');
	}

	&:focus {
		text-decoration: none;
	}

	svg {
		@extend %transition;
	}
}

// Global Focus
button:focus-within,
button:focus,
.button:focus-within,
.button:focus,
a:focus-within,
a:focus,
a:focus-within,
a:focus,
input:focus {
	outline: 2px solid blue;
	outline-offset: 2px;
	text-decoration: none;

	.is-style-white {
		outline: 2px solid $white;
	}
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	margin: 0 0 16px;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}

.clearfix {
	@include clearfix;
}

/* Paragraph
--------------------------------------------- */

p {
	margin: 0 0 16px;
	padding: 0;

	&.large,
	&.has-large-font-size {
		@include style('body', 3);
	}

	&.has-normal-font-size {
		@include style('body', 5);
	}

	&.small,
	&.has-small-font-size {
		@include style('body', 7);
	}
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	@include style('title', null, true);
	margin: 0 0 16px;
	color: $black;

	a {
		color: $text_dark;

		&:hover {
			color: brand-color('primary');
			text-decoration: none;
		}
	}
}

h1 {
	@include style('title', 1);
	font-style: normal;
	font-weight: 700;

	@include media(">tablet") {
		line-height: 70px;
	}
}

h2 {
	@include style('title', 2);
	color: brand-color('tertiary');
	font-weight: 700;
	line-height: 35px;

	.single & {
		color: $black;
	}

	@include media(">tablet") {
		line-height: 40px;
	}

	&.wp-block-heading {
		margin-top: 30px
	}

}

.entry-content {
	h3 {
		color: brand-color('tertiary');
	}
}

h3 {
	@include style('title', 3);
	font-style: normal;
	font-weight: 700;

	@include media(">tablet") {
		line-height: 26px;
	}
}

h4 {
	@include style('title', 4);
	font-style: normal;
	font-weight: 700;
}

h5 {
	@include style('title', 5);
	font-style: normal;
	font-weight: 700;
}

h6 {
	@include style('title', 6);
	font-style: normal;
	font-weight: 700;
}

label {
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
}

input {
	border-radius: 4px;
	background: #FFF;
	border: none;
}

.block .wpforms-container-full {
	.wpforms-form {
		.wpforms-field {
			padding: 0;
			margin: 0;
			width: 100%;
		}

		button.wpforms-submit {
			@include style('callout', 5, true);
			background-color: brand-color('primary');
			padding: 13px 24px;
			text-decoration: none;
			border: 1px solid transparent;
			color: $black;
			text-align: center;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: 15px;
			min-width: 148px;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				background-color: brand-color('primary', 'darken');
				border-color: brand-color('primary');
				background: transparent;
			}
		}
	}
}

div.wpforms-container-full button:hover
{
background-color: white !important;
}

div.wpforms-container-full button {
	background-color: brand-color('primary') !important;
	color: black !important;
}

.wpforms-container {

	.wpforms-form .wpforms-list-2-columns ul li {
		width: auto !important;
	}

	.wpforms-form {
		textarea {
			min-height: 250px;
			border-radius: 4px;
			border: 1px solid var(--Dark-Gray, #A1A5A5);
			background: #FFF;
		}

		.wpforms-required-label {
			color: inherit !important;
			font-weight: 400;
		}

		.wpforms-field-label {
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 22px;
			margin-bottom: 10px;
		}

		input {
			border-radius: 4px !important;
			border: 1px solid var(--Dark-Gray, #A1A5A5);
			background: #FFF;
		}

		button[type=submit].wpforms-submit {
			@include style('callout', 5, true);
			background-color: brand-color('primary');
			padding: 13px 24px;
			text-decoration: none;
			border: 1px solid transparent;
			color: $black;
			text-align: center;
			font-size: 17px;
			font-style: normal;
			font-weight: 500 !important;
			line-height: 17px;
			min-width: 58px;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				background-color: brand-color('primary', 'darken');
				border-color: brand-color('primary');
				background: white;
			}

			&:focus {
				outline: 2px solid blue;
			}
		}

		button#wpforms-submit-4730 {
			min-width: 168px;
			border-radius: 4px;
		}

		input,
		textarea {
			&:focus {
				outline: 2px solid blue;
			}
		}
	}
}





.wp-block-table {
	margin-bottom: 20px;

	&.has-large-font-size{
		.wp-element-caption{
			font-size: 1.5rem;
		}
	}

	&.has-small-font-size{
		.wp-element-caption{
			font-size: 0.8rem;
		}
	}

	table {
		thead {
			border-bottom: 1px solid #A1A5A5;
		}

		th {
			background: var(--Purple, #625089);
			color: #fff;
			border-color: white;
		}

		border-color: #A1A5A5;

		figure {
			border-color: #A1A5A5;
		}

		th {
			border: 1px solid #A1A5A5;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 18px;
			padding: 5px;
			text-align: left;

			@include media(">tablet") {
				padding: 18px 20px;
			}

			&.has-text-align-center{
				text-align: center;
			}
		}

		td {
			border: 1px solid #A1A5A5;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
			padding: 5px;

			@include media(">tablet") {
				padding: 10px 20px;
			}
		}
	}


}

.anww-external-link-icon {
	position: absolute;
	width: 1px;
	clip: rect(0 0 0 0);
	overflow: hidden;
	white-space: nowrap;
}

iframe {
	max-width: 100%;
}

.wptb-preview-table {
	tr:nth-child(1) {
		// background-color: #625089 !important;
	}
}

.di-calculator .di-table_results {
	box-shadow: none !important;
}


.inline-logo-heading img {
    display: inline-block;
    margin-right: 8px;
	margin-bottom: -3px;
	@include media("<medium") {
		width: 150px !important;
	}
}

.list-style-x,
.list-style-check {
    list-style-type: none;
    padding-left: 0 !important;
}

.list-style-x li,
.list-style-check li {
    border-bottom: 1px solid #82BC46;
    padding: 0.5em !important;
}

.list-style-x li:before {
    font: 30px dashicons;
    content: "\f335";
    margin-right: 5px;
    vertical-align: -30%;
}

.list-style-check li:before {
    font: 30px dashicons;
    content: "\f15e";
    margin-right: 5px;
    vertical-align: -30%;
}
