.grid-middle-line {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(50% - -30px);

        transform: translate(0%, -50%) rotate(90deg);
        display: flex;
        background: #A1A5A5;
        width: 1px;
        height: 100%;

        @include media(">tablet") {
            height: 244px;
            transform: translate(0%, -50%);
        }
    }
}

.hide-on-tablet {
    @include media("<tablet") {
        display: none!important;
    }
}

.hide-on-desktop{
    @include media(">tablet") {
        display: none!important;
    }
}

.text-decoration-none{
   a{
    text-decoration: none;
   }
}

.link-green{
    a{
        color: brand-color('primary');
        font-weight: inherit;
    }
}
.link-wcag-green{
    a{
        color: brand-color('secondary');
        font-weight: inherit;
    }
}
.headline-lines{
    position: relative;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    @include media("<tablet") {
        margin-bottom: 40px;
    }

    &:after {
        content: close-quote;
        position: absolute;
        top: 50%;
        left: -60px;
        width: 40px;
        background: white;
        height: 2px;
        transform: translate(0%, 60%);
    }

    &:before {
        content: close-quote;
        position: absolute;
        top: 50%;
        right: -60px;
        width: 40px;
        background: white;
        height: 2px;
        transform: translate(0%, 50%);
    }
}

.list-2col{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 40px;
    @include media(">tablet") {
        grid-template-columns: 1fr 1fr;
    }
}




.color-reverse-content-block{
    ul{
        list-style: none;
    }
    ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #82BC46; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
      .link-green a{
        &:hover{
            color: white;
        }
      }
}