/* Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Wrap
--------------------------------------------- */

.wrap {

}

.site-inner {
	@include media("<tablet") {
		padding-top: 71px;
	}
	.content & > .wrap {
		max-width: map-get( $breakpoints, 'content-width' );
	}
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/* Sidebar Layouts
--------------------------------------------- */

.sidebar-primary .widget + .widget {
	margin-top: 32px;
}

@include media("<medium") {

	.sidebar-primary {
		display: none;
	}
}

@include media(">=medium") {

	.content-sidebar {

		@supports( display: $grid ) {
			.site-main {
				display: grid;
    			grid-template-columns: repeat(12, 1fr);
				grid-column-gap: $grid-gap;
			}

			.entry-header {
				grid-column-start: 1;
				grid-column-end: 13;

				background-color: brand-color('tertiary');
				.entry-header-container{
					margin: 0 auto;
					padding: 0 $container-padding;
				}
			}

			.site-main-article-content {
				grid-column-start: 1;
    			grid-column-end: 9;
				z-index: 2;
			}

			.sidebar-primary {
				grid-column-start: 9;
			    grid-column-end: 13;
				z-index: 1;
			}
		}
	}
}
