/* Navigation
---------------------------------------------------------------------------------------------------- */
/* Site Header
---------------------------------------------------------------------------------------------------- */
header.site-header {
	&.site-header-active {
		.title-area {
			opacity: 0;
			visibility: hidden;
		}

		#nav-icon {
			span {
				background-color: white;
			}
		}

		#main-navigation {
			&:after {
				visibility: hidden;
			}
		}
	}

	.wrap {
		max-width: 1225px;
		margin: 0 auto;
		padding: 0 25px;
	}
}



.site-header {
	position: relative;

	#main-navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:after {
			@include media("<tablet") {
				content: close-quote;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				background: white;
				height: 71px;
			}
		}

		.left-side {
			display: flex;
			width: 100%;

			@include media(">=tablet") {}

			.main-logo {
				display: flex;
				align-items: center;
			}


			.primary-navigation {
				display: flex;
				justify-content: space-between;
				width: 100%;

				@include media("<medium") {
					position: static;
				}

				@include media("<large") {}

				@include media("<medium") {}

				@include media("<=mobile_menu") {
					display: none;
				}

				>ul {
					margin: 0;
					display: flex;
					align-items: center;
					gap: 28px;

					li:not(:last-child) {
						ul li {
							margin-bottom: 10px;
						}
					}

					>li> .menu-item-main-link {
						position: relative;
						color: #000;
						font-size: 15px;
						font-style: normal;
						font-weight: 400;
						line-height: 1.4;
						text-decoration: none;
						padding: 22px 0;
						display: flex;
						background: transparent;
						border: none;
						display: inline-flex;

						@include media("<tablet") {
							color: white;
							font-size: 23px;
							font-style: normal;
							font-weight: 700;
							line-height: 30px;
						}
					}

					>li {
						list-style: none;

						.chevron {
							@include media(">tablet") {
								display: none;
							}
						}

						&.has-submenus {
							&.submenu-column__two {
								.sub_menu {
									@include media(">tablet") {
										grid-template-columns: .65fr .35fr;
									}
								}
							}

							&.submenu-column__three {
								.sub_menu {
									@include media(">tablet") {
										grid-template-columns: repeat(3, 1fr);
									}
								}
							}
						}

						.sub_menu {
							display: none;
							grid-template-columns: repeat(1, 1fr);
							position: absolute;
							top: 100%;
							background: #fff;
							box-shadow: 0px 20px 27px rgba(161, 165, 165, 0.25);
							max-width: 900px;
							width: 100%;
							left: 0;
							right: 0;
							margin: 0 auto;
							padding: 31px 51px;

							@include media("<tablet") {
								padding: 0;
								background-color: brand-color('tertiary');
							}

							&.open {
								display: grid;
							}

							&.active {
								z-index: 100;
								position: absolute;
								top: 0;
								left: 0;
								display: grid;
								grid-template-columns: 1fr;

							}

							.sub_menu_dropdown__title {
								color: white;
								font-size: 23px;
								font-style: normal;
								font-weight: 700;
								line-height: 30px;
								display: flex;
								padding: 45px 24px;

								@include media(">tablet") {
									display: none;
								}
							}

							.sub_menu_back {
								display: flex;
								-webkit-appearance: none;
								border: none;
								background: transparent;
								gap: 10px;
								margin: 24px 24px 0;
								padding: 0;

								@include media(">tablet") {
									display: none;

								}

								&::before {
									display: none;
								}

								.sub_menu_back__icon {
									position: relative;
									width: 10px;
									height: 7px;

									&::after {
										content: "";
										width: 7px;
										height: 7px;
										border: 2px solid #83bc46;
										border-top: none;
										border-left: none;
										position: absolute;
										right: 0;
										top: 50%;
										transform: rotate(140deg);
										transition-duration: .3s;
										transform-origin: center;
									}
								}

								.sub_menu_back__text {
									color: white;
									font-size: 14px;
									font-style: normal;
									font-weight: 700;
									line-height: 14px;
									/* 100% */
								}
							}

							.menu-column {
								@include media("<tablet") {
									padding: 36px 24px;
									background: white;
								}

								.menu-column_title {
									color: black;
									font-size: 18px;
									font-style: normal;
									font-weight: 600;
									line-height: 21px;
									position: relative;
									margin-bottom: 13px;
									padding-bottom: 13px;
									&.menu-column-hidden {
										opacity: 0;
										visibility: hidden;
										@include media("<tablet") {
										display: none;
										}
									}

									&::after {
										content: "";
										position: absolute;
										left: 0;
										top: 100%;
										background: #82BC46;
										width: 19px;
										height: 2px;
									}
								}

								>ul {
									list-style: none;
									display: grid;
									grid-template-columns: 1fr;

									a {
										color: black;
										font-size: 16px;
										font-style: normal;
										font-weight: 300;
										line-height: 22px;
										text-decoration: none;

										&:hover {
											color: brand-color('tertiary');
											text-decoration: underline;
										}
									}
								}
							}
						}

						&.has-submenus button,
						&.has-submenus button>a {

							&[aria-expanded="true"] {
								&::before {
									transform: rotate(-135deg);
									top: calc(50% + 5px);
								}
							}

							// &::before {
							// 	content: "";
							// 	width: 10px;
							// 	height: 10px;
							// 	border: 2px solid #676767;
							// 	border-top: none;
							// 	border-left: none;
							// 	position: absolute;
							// 	right: 0;
							// 	top: 50%;
							// 	// transform: translateY(-50%);
							// 	transform: rotate(45deg);
							// 	transition-duration: .3s;
							// 	transform-origin: center;
							// }
						}

						&:hover {

							button,
							>a {
								&::after {
									content: "";
									position: absolute;
									left: 0;
									bottom: 0;
									background: #82BC46;
									width: 100%;
									height: 5px;

									@include media("<tablet") {
										display: none;
									}

								}

								@include media('>=medium') {

									&::before {
										transform: rotate(-135deg);
										top: calc(50% + 5px);

									}
								}
							}

							.sub_menu {
								display: grid;

								@include media("<=mobile_menu") {

									&.open {
										display: flex;
									}

									>ul li:not(:last-child) {
										margin-right: 30px;
									}
								}
							}

							.menu-column:hover {
								h4::after {
									background-color: #007aff;
								}
							}
						}
					}

					.dropdown-toggle {
						display: none;
					}
				}

				.cta-header {
					display: none;
				}
			}
		}

		.cta-header {
			display: flex;
			align-items: center;
			padding: 30px 0 20px;

			@include media("<=mobile_menu") {
				display: none;
			}

			a {
				&:hover {}
			}
		}

		&.menu-mobile-open {
			.primary-navigation {
				position: fixed;
				top: 0;
				left: 0;
				background: white;
				margin: 0;
				width: 100vw;
				height: 100vh;
				padding: 20px 30px;

				@include media("<tablet") {
					padding: 90px 24px;
					background-color: brand-color('tertiary');
				}

				@include media("<=mobile_menu") {
					overflow-y: auto;
				}

				>ul {
					flex-direction: column;
					align-items: flex-start;

					@include media("<tablet") {
						margin-top: 71px;
					}

					>li {

						display: flex;
						flex-direction: column;
						align-items: flex-start;
						width: 100%;

						a {
							display: flex;
							width: 100%;

						}

						.chevron {
							position: absolute;
							top: 50%;
							right: 24px;
							transform: translate(0%, -50%) rotate(-90deg);

							@include media(">tablet") {
								display: none;
							}
						}
					}
				}

				.cta-header {
					display: block;

					a {}
				}
			}
		}
	}
}

/* Persistent Header
--------------------------------------------- */

body {
	.site-header {
		@supports (position: sticky) {
			position: sticky;
			top: 0;
			transition: transform 0.3s;
			z-index: 10;
		}
	}

	&.admin-bar {
		.site-header {
			@supports (position: sticky) {
				top: 32px;

				@include media("<=782px") {
					top: 0px;
				}
			}
		}
	}

	&.nav-up {
		.site-header {
			@supports (position: sticky) {
				transform: translateY(-100%);
			}
		}
	}
}

@include media(">mobile_menu") {
	#nav-icon {
		display: none;
	}
}

/*
* "Hamburger Icon Animation"
*/

#nav-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
	background-color: transparent;
	border: none;
	margin: 0;
	z-index: 9999;
	top: 18px;
	right: 24px;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $off_black;
		border-radius: 0px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;

		&:nth-child(1) {
			top: 0px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 15px;
		}

		&:nth-child(4) {
			top: 30px;
		}
	}

	&.open {
		span:nth-child(1) {
			top: 18px;
			width: 0%;
			left: 50%;
		}

		span:nth-child(2) {
			transform: rotate(45deg);
		}

		span:nth-child(3) {
			transform: rotate(-45deg);
		}

		span:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}
}


// Mobile Bottom Context	
.menu_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	@include media(">tablet") {
		display: none;
	}

	.mobile_help_btn {
		a {
			background: var(--Green, #82BC46);
			display: flex;
			align-items: center;
			justify-content: center;
			color: black;
			text-align: center;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 30px;
			border-radius: 0;
		}
	}

	.mobile_search {
		form {
			display: grid;
			margin: 0 24px 40px;
			border-bottom: 1px solid #fff;
			position: relative;
		}

		img {
			position: absolute;
			top: 50%;
			left: 0;
			max-width: 30px;
			transform: translate(0%, -50%);
		}

		label {
			position: absolute;
			top: 0;
			left: -9999px;
		}

		input {
			color: white;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.4;
			background: transparent;
			border: none;
			padding: 24px 0;
			padding-left: 40px;
		}

		input::placeholder {
			color: white;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.4;
			background: transparent;
		}
	}
}

.search-popup {
	display: none;
}

.menu_desktop {
	display: none;
	align-items: center;
	gap: 30px;
	@include media(">tablet") {
		display: flex;
	}

	.menu_search_btn {
		-webkit-appearance: none;
		border: none;
		background: transparent;
		width: 20px;
		height: 20px;
		padding: 0;

		img {
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}

	a.btn {
		min-width: 0;
	}


}

.search-popup {
	&.active {
		display: flex;
	}

	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	background: #fff;
	z-index: 1000;
	min-height: 71px;

	&.input-active {
		label {
			top: -20px;
		}
	}

	.input-group {
		display: flex;
		position: relative;
	}
	button.close {
		position: absolute;
		top: 50%;
		right: 24px;
		transform: translate(0%,-50%);
		background: transparent;
		border: none;
		padding: 0;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		img {
			width: 100%;
			height: 100%;
			max-width: unset;
			max-height: unset;
		}
	}

	img {
		max-width: 20px;
		max-height: 20px;
	}

	.input-group input::placeholder,
	.input-group input {
		min-width: 420px;
		padding: 0;
		color: #000;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		border: none;
	}

	form:hover {
		.input-group {
			label {
				top: -20px;
			}

		}
	}

	

	label {
		color: #000;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 1;
	}

	.under_line {
		display: flex;
		gap: 20px;
		align-items: center;
		border-bottom: 1px solid #D9D9D9;
		justify-content: center;
		padding-bottom: 5px;
	}

}

.search-popup form {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.search-popup label {
	position: absolute;
	top: 0;
	left: 0;
}