/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background: brand-color('tertiary');
	position: relative;
}

.title-area {
    float: left;
    width: 100%;
    max-width: 150px;
    text-align: left;
    z-index: 1100;
    position: relative;
    margin: 11px auto;
    margin-right: 10px;
	@media screen and (max-width:1150px) and (min-width:900px) {
		margin-right: 10px;
	}

	@media screen and (max-width:900px) and (min-width:768px) {
		margin-right: 20px;
	}
	@include media("<1070px") {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: 8px auto;
	}

	h1.site-title,
	p.site-title {
		margin: 0;
		font-size: 24px;
		line-height: 30px;

		a {
			color: $text_medium;
			text-decoration: none;
			background-image: url('../images/SLP-Logo.png');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			font-size: 0px;
			width: 120px;
			height: 35px;
			display: flex;
		}
	}

}


/* Admin Bar
--------------------------------------------- */

@include media(">782px") {
	.admin-bar .site-container {
		padding-top: 32px;
	}
}

@include media("<=782px") {
	#wpadminbar {
		display: none !important;
	}
}

/* Persistent Header
--------------------------------------------- */

body {

	.site-header {

		@supports(position: sticky) {
			position: sticky;
			top: 0;
			transition: transform 0.3s;
			z-index: 10;
		}
	}

	&.admin-bar {
		.site-header {
			@supports(position: sticky) {
				top: 32px;

				@include media("<=782px") {
					top: 0px;
				}
			}
		}
	}

	&.nav-up {

		.site-header {

			@supports(position: sticky) {
				transform: translateY(-100%);
			}
		}
	}
}