@import "partials/base";

.full-width-content .editor-styles-wrapper .wp-block,
.full-width-content .editor-styles-wrapper .editor-post-title__block.wp-block,
.full-width-content .editor-styles-wrapper .wp-block-group .wp-block-group__inner-container {
	max-width: $grid-width;
}

.content .editor-styles-wrapper .wp-block[data-type="core/group"][data-align="full"] [data-align="wide"] {
	margin-left: ( $content-width - $grid-width ) / 2;
	margin-right: ( $content-width - $grid-width ) / 2;
}
